:root {
    --white: white;
    --black: black;

    --carbon-100: #FAFAFA;
    --carbon-200: #F0F0F0;
    --carbon-300: #E4E4E4;
    --carbon-400: #CFCFCF;
    --carbon-500: #B0B0B0;
    --carbon-600: #8C8C8C;

    --rust: #F16036;
}