<section class="hero overflow-hidden container align-content-center">

  <!-- Wideo w tle -->
  <video #heroBg autoplay muted loop playsinline preload="auto" id="myVideo" class="hero-bg w-100 h-100 position-fixed top-0 start-0">
    <source src="assets/videos/bg.mp4" type="video/mp4">
  </video>

  <!-- Zawartość hero (fixed) -->
  <div #heroContent class="hero-content position-fixed text-white">
    <div class="name-sm mb-3 col-12">
      <p class="m-0">Natalia Kulesza</p>
    </div>
    <h1 class="col-lg-5 col-8 col-sm-7">
      WELCOME TO MY<br>
      <span class="font-bold">CREATIVE PORTFOLIO</span>
    </h1>
  </div>
</section>

<section class="get-to-know-me d-flex">
  <div class="container d-flex">
  <!-- Lewa kolumna: tekst -->
  <div class="col-md-12 col-lg-6 d-flex flex-column mt-5 justify-content-center">
    <div class="title-lg">
      <h2 class="fw-light col-7 col-lg-8">GET TO KNOW <span class="fw-bold">ME</span></h2>
    </div>

    <div class="title-sm">
      <span class="fw-light col-7">GET TO</span><h2 class="fw-bold">KNOW ME</h2>
    </div>
    <div class="col-12 full-page-bg"></div>

    <div class="description-content pr-10 col-12">
      <h3>HELLO</h3>
      <p>
        My experience in design spans 6 years. What I like most
        about design is the art of composition and playing with
        colors. I believe that cooperation, openness, and good
        communication are key to success.
      </p>
      <p>
        In my free time, I enjoy staying active through sports.
        I’m currently learning Spanish and have a strong interest
        in Hispanic culture. I also participate in amateur impro
        theatre. Additionally, I love to travel whenever
        the opportunity arises.
      </p>
    </div>
  </div>

  <!-- Prawa kolumna: zdjęcie w tle -->
  <div class="col-md-12 col-lg-6 half-page-bg"></div>

  </div>
</section>

